# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ source files and headers
[*.{c,h,cc,cpp,hpp}]
indent_style = space
indent_size = 4
max_line_length = 80

# Makefiles require tabs
[Makefile*]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Configuration files
[*.conf]
indent_style = space
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Test files
[*.t]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
